header{
  text-align: center;
}

section > figure{
  text-align: center;
  font-size: smaller;
}

nav > a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightgrey;
}

#featured-property > p{
  width: 800px;
  margin: auto;
  text-align: center;
  margin-bottom: 15px;
}

div{
  text-align: center;
  width: 25%;
  background-color:red;
  float: left;
}